* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1800px;
    margin: 100px auto;
}

/* Homepage main img */

/* About */
.number-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

.num-sec-number {
    font-size: 60px;
}

.num-sec-desc {
    font-size: 15px;
}

.intro-section {
    margin: 40px auto;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.paragraph {
    text-align: justify;
}

.intro-video {
    display: block;
    margin: 0 auto;
}

/* Partners */

.partners {
    margin: 40px auto;
}

.partners-section {
    display: flex;
    justify-content: space-around;
}

.partner-info {
    width: 29%;
}

.second-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.partner-img {
    display: block;
    width: 75%;
    margin: 40px auto;
}

/* Social Media */
.social-media {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    overflow: auto;
    height: 500px;
}

#social-media {
    display: flex;
    justify-content: space-around;
}